<% provide(:title, 'Home') %>
<div class= "center jumbotron">
<h1>Toy app</h1>
<h2>This is hope page for the 
<a href="http://sukanta-toy.herokuapp.com/">Toy App</h2>
Toy application </p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>